* {
  margin: 0;
  padding: 0.25rem;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: whitesmoke;
  place-content: center;
  font-size: 150%;
  font-family: 'Inter', sans-serif;
}

button {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.gold {
  color: gold;
}

.navbar {
  height: 100px;
  background-color: gray;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

li {
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.link-sm {
  font-size: 1.3rem;
  color: white;
  display: block;

  margin-top: 5rem;
  text-decoration: none;
}

.code {
  background: #292929;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  text-decoration: underline;
}

ul {
  display: flex;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.React_TS {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.count-box {
  background: #292929;
  width: 12rem;
  height: 4rem;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.count {
  font-size: 2rem;
}

.reactHooks {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.hooks {
  display: flex;
  align-items: left;
  flex-direction: column;
  gap: 4rem;
}

.comment {
  color: #646464;
}

.spec {
  display: flex;
}

.useMemo {
  margin-top: 1rem;
}

.fibInput {
  background: #292929;
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;

  width: 10rem;
  height: 4rem;
}

button {
  margin: 0.25em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.tasks {
  display: flex;
  flex-direction: column;
  width: 40rem;
}

.taskList-ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.taskList-li {
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 1rem;
}

input {
  padding: 20px 20px;
  margin: 0.25em;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

.task-box {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.link {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

.useReducer-chall {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
